@import "sidebar";
@import "typeahead";

// Sortable table component.
.table-sorter .table-sorter-filter-row {
  .tr-tight-form-group;
}

@import "~react-spinner/react-spinner.css";
.mk-spinner {
  position: absolute;
  width: 100px;
  height: 100px;

  .react-spinner_bar {
    background-color: black;
  }
}

.min-size-table {
  width: 0;
}

.resize-vertical {
  resize: vertical;
}
