@import "sidebar";
@import "typeahead";
@import "list-mod-buttons";

@media (max-width: @screen-sm) {
  .dashboard-content {
    margin-left: 50px;
  }
}

.user-list-remove {
  .pull-right();
  .pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    color: @brand-danger;
  }
}

// Sortable table component.
.table-sorter {
  margin-bottom: 5px;
  &.table-sorter-filter-row {
    .tr-tight-form-group;
  }
}

.pagination li span {
  .pointer;
}

@import "~react-spinner/react-spinner.css";
.mk-spinner {
  position: absolute;
  width: 100px;
  height: 100px;

  .react-spinner_bar {
    background-color: black;
  }
}

.min-size-table {
  width: 0;
}

.resize-vertical {
  resize: vertical;
}

.alert-list {
  padding-left: 10px;
}
